body{background-color: darkslategrey;}
h1{font-family: fantasy;
    color: mediumspringgreen;
font-size: 50px;}
h2{font-size: 40px;
color: aqua;}
p{ font-family: cursive;
font-size: 30px;
color: white;
text-align: center}